<html>
  <head>
    <title><%= htmlTitle %></title>
  </head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"ter>Chat</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class=<%= activeNav === "rooms" ? "active" : "" %>>
                <a href=<%= activeNav !== "rooms" ? "/rooms" : ""%>>Default</a>
              </li>
              <li class=<%= activeNav === "newRoom" ? "active" : ""%>>
                <a href=<%= activeNav !== "newRoom" ? "/rooms/new" : ""%>>New Room</a>
              </li>
              <% if (!currentUser) { %>
                <li class=<%= activeNav === "newUser" ? "active" : "" %>>
                  <a href=<%= activeNav !== "newUser" ? "/signup" : "" %>>Sign Up</a>
                </li>
              <% } else { %>
                <li class=<%= activeNav === "showUser" && currentUser.username === user.username ? "active" : "" %>>
                  <a href=<%= activeNav !== "showUser" || currentUser.username !== user.username  ? "/users/"+currentUser.id : "" %>><%= currentUser.username %></a>
                </li>
                <% if (activeNav === "showUser" && currentUser.username !== user.username) { %>
                  <li class="active">
                    <a><%= user.username %></a>
                  </li>
                <% } %>
              <% } %>
            </ul>
            <ul class="nav navbar-right">
              <% if (currentUser) { %>
                <form action="/logout" class="navbar-form" role="search">
                  <button class="btn btn-default">Logout</button>
                </form>
              <% } else if (activeNav !== "login") { %>
                <form action="/login" method="POST" class="navbar-form" role="search">
                  <div class="form-group">
                    <input type="text" id="username" name="user[username]" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="password" id="password" name="user[password]" class="form-control" placeholder="Password">
                  </div>
                  <button class="btn btn-default">Login</button>
                </form>
              <% } %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <%- body -%>

    </div> <!-- /container -->
  </body>
</html>
